header {
    background-color: #017b64;
    display: flex;
    justify-content: space-between;
    height: 45px;
}

.btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btns button{
    background-color: white;
    color: #009E5E;
    border-radius: 3px;
    border: none;
    height: 20px;
    margin: 10px;
    width: 50px;
    
}

.btns button:hover{
    box-shadow: 3px 6px 6px #184936;
    cursor: pointer;
    /* height: 20.2px; */
    /* background-color: #027e4c; */
}