header {
    background-color: #017b64;
    display: flex;
    justify-content: space-between;
    height: 45px;
}

.btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btns button {
    width: 80px;
    height: 30px;
    margin: auto 10px;
}