.cardUser{
  
  width: 200px;
  height: 230px;
  background-color: #009E5E;
  font-size: 13px;
  justify-content: space-between;
  border-radius: 5px;
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
}

.cards ul{
  
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;

}