.card_main {
    width: 300px;
    background-color: #009E5E;
    color: #fff;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px 0px;
}

.kudoContainer {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.main_container {
    border: 1px solid #000;
}