.kudoBox_Container {
    /* border: 1px solid #000; */
    margin: 20px 0px;
}

.kudoBoxMain {
    display: flex;
    justify-content: center;
}

.kudoBox {
    /* border: 1px solid #000; */
    width: 180px;
    height: 150px;
    background-color: #008E75;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 15px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-size: 13px;
}