.card_main {
    width: 300px;
    border: 1px solid #000;
    background-color: #026D99;
    height: 300px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.boxContainer {
    border: 1px solid rgb(191, 37, 37);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}