.card_main {
    width: 250px;
    height: 270px;
    margin: 10px 10px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: #4861B4;
    font-size: 13px;
}

.main_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card_main .encerrar_btn {
    border: none;
    background: white;
    color: #c41818;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
}

.card_content {
    width: 80%;
    /* border: 1px solid #000; */
    /* height: 200px */
    color: #fff;
}

.card_content button {
    width: 120px;
    height: 30px;
    background-color: white;
    color: #4861B4;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 13px;
}

.card_content button:hover {
    box-shadow: 3px 6px 6px #354886;
    cursor: pointer;
}

.card_content span {
    font-weight: 700;
}

