.container {
    /* border: 1px solid #000; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main {
    padding: 10px;
}

.sprint_main {
    width: 150px;
    height: 150px;
    background-color: #0e5f96;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px 15px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.sprint_main button {
    width: 70px;
    height: 23px;
    background-color: white;
    color: #0e5f96;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 13px;

    
}

.sprint_main button:hover {

    box-shadow: 3px 6px 6px #094064;
    cursor: pointer;
}


.sprint_main p {
    font-size: 13px;
}

.styles.divData {
    height: 80px;
}

.divButton {
    margin-bottom: 10px;
}